<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Registro</title>
    <link href="./css/styleregister.css" rel="stylesheet" />
</head>

<body>
    <!--Registercx  es  el registro de un cliente que quiera realizar una compra-->
    <div class="registercx-box">
        <img class="avatar" src=" img/ReadMeLogo.png " alt="Logo de Readme ">
        <h1> Fomulario de Registro</h1>
        <form>
            <!--Nombre-->
            <label for="name">Nombre</label>
            <input type="text" placeholder="Ingrese su nombre">

            <!--Apellido-->
            <label for="lastname">Apellido</label>
            <input type="text" placeholder="Ingrese su apellido">

            <!--Email-->
            <label for="email">Email</label>
            <input type="email" placeholder="Ingrese su correo electronico">

            <!--username-->
            <label for="username ">Usuario</label>
            <input type="text" placeholder="Ingrese el usuario">

            <!--password-->
            <label for="password">Contraseña</label>
            <input type="password" placeholder="Ingrese una contraseña">

            <p style="color: #3E1000;">
                <small>Estoy de acuerdo con </small><a href="#">Terminos y Condiciones</a>
            </p>
            <br/>
            <input type="submit" value="Registrar">
            <input type="hidden" name="_confirmation" value="¡Registro completo!" />
        </form>
    </div>
    <footer>
        <div class="footer-container">
            <a href="#">Politica de Privacidad</a> |
            <a href="#">Terminos & condiciones</a> | &copy Copyright 2021- ReadMe Libreria - Todos los derechos revervados.
        </div>
    </footer>

</body>

</html>