*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
  }

:root {
    --first-color: #3E1000;
    --second-color: #5A1A05;
    --third-color: #653719;
    --fourth-color: #CEB035;
    --fiveth-color: #45230C;
  }

header{
    background-color: var(--second-color);
    color: #fff;
    padding: 1rem;
}

.h2-logo{
    text-align: center;
    font-size: 40px;
}

.btn{
    display: flex;
    text-transform: uppercase;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: all .35s ease;
    background-color: var(--fourth-color);
    margin: auto;
}

.btn:hover{
    background-color: #ECC939

}

.btn:focus{
    background-color: #fff;
    border: #CEB035 solid 5px;
}

.btn-icon{
    margin: auto;
    width: 3rem;
}


.btn-text{
    font-size: 0.8125rem;
    font-weight: 700;
    letter-spacing: .5px;
    padding: .75rem 2rem;
}

h2{
    margin: auto;
}



.container-header{
    display: flex;
    flex-direction: row;
}

.icon{
    padding-right: 5px;
}

p{
    margin: auto;
}

.section-1-container{
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
}

.product-table{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    width: 75%;
    margin: auto;
    grid-auto-flow:dense;
    border: 4px solid black;
}

.row-head{
    background-color: rgb(153, 132, 128);
    padding: 15px;
    border-right: 2px solid black;
}

.row-pair{
    background-color: #DED0CE;
    padding: 15px;
    border-right: 2px solid black;
}

.row-odd{
    padding: 15px;
    border-right: 2px solid black;
}

.purchase-data{
    width: 75%;
    margin: 15px auto;
    text-align: end;
    
}

.purchase-data-item{
    padding: 1rem;
}

.shipping-data{
    margin: auto;
    width: 75%;
    background-color: var(--fourth-color);
    padding: 1rem;
    border: 4px solid black;
}

.shipping-data-title{
    padding: 1rem;
    font-size: 2rem;
}

.shipping-data-item{
    padding: 1rem;
}

.shipping-data-input{
  height: 30px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-top: 5px;
  background-color: transparent;
  border-bottom: 1px solid wheat;
  color: white;
  font-size: 16px;
}

.select{
    display: inline-block;
    padding: 7px;
    border: 2px solid var(--fourth-color);
    border-radius:10%;
    transition: all .35s ease;
}

.select:focus{
    border: 2px solid var(--third-color);
}

.btn-save-container{
    display: flex;
    width: 75%;
    margin:auto;
    margin-bottom: 2rem;

}

.btn-save{
    display: flex;
    text-transform: uppercase;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: all .35s ease;
    background-color: var(--fourth-color);
    margin-left: auto;
    margin-top: 2rem;
    padding: 0.5rem;
}

.btn-save:hover{
    background-color: #ECC939

}

.btn-save:focus{
    background-color: #fff;
    border: #CEB035 solid 5px;
}

.footer-container {
    position:sticky;
    width: 100%;
    left: 0;
    bottom: 0;
    background: #3E1000;
    color: #fff;
    text-align: center;
    font-size: 12px;
}

.footer-container a {
    text-decoration: none;
    font-size: 13px;
    line-height: 20px;
    color: #fff;
    text-align: justify;
}
