*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
  }

:root {
    --first-color: #3E1000;
    --second-color: #5A1A05;
    --third-color: #653719;
    --fourth-color: #CEB035;
    --fiveth-color: #45230C;
  }
.search-box {
    width: 350px;
    height: 410px;
    background:#CEB035;
    border: none;
    position: relative;
    padding: 60px 40px;
    
}
.search-box p {
    color: white;
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.search-box input {
    width: 100%;
    margin-bottom: 13px;
}

.search-box input[type="text"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.btn-search {
    background-color: var(--first-color);
    color: white;
    border-radius: 80px;
    cursor: pointer;
    border: none;
    outline: none;
    width: 150px;
    height: 40px;
    margin-right: 10px;
    font-size: 13px;
}
.btn-search {
  display: block;
  justify-content: space-around;
  width: 100%;
  margin-top: 2px;
}

.btn-search:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.h2-logo{
    text-align: center;
    font-size: 40px;
}


.user-table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 60%;
    margin: auto;
    grid-auto-flow:dense;
    border: 4px  black;
    justify-content: flex-start;
    flex-direction: column;

    
}
.user-table {
    background-color: white;
    position: absolute;
    top: 30px;
    left: 400px
}

.row-head{
    background-color:white;
    padding: 15px;
    border-right: 2px solid black;
}

.row-pair{
    background-color: white;
    padding: 15px;
    border-right: 2px solid black;
}

.row-odd{
    background-color: white;
    padding: 15px;
    border-right: 2px solid black;
}

