* {
    box-sizing: border-box;
    
}

:root {
    --first-color: #3e1000;
    --second-color: #5a1a05;
    --third-color: #653719;
    --fourth-color: #ceb035;
    --fiveth-color: #45230c;
    --font-color: #eef4ed;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
}


/* <!-- NAVBAR --> */

.navbar {
    background-color: var(--first-color);
    min-height: 30px;
    margin-bottom: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navbar-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--first-color);
}

.navbar-logo>a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 5px 30px;
    text-decoration: none;
    font-size: 1.9em;
}

.navbar-links>a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 10px 0px;
    text-decoration: none;
    font-size: 15px;
}

.navbar-buttons {
    padding: 5px 10px 0px;
    color: white;
    display: flex;
    justify-content: space-around;
}

.nav-button {
    font-size: 1.5em;
    margin: 2px 10px;
}

.nav-button>.cus-svg {
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: -0.125em;
}

.nav-input>input {
    margin: 7px;
    border-radius: 10px;
    border: 1px;
}


/* <!-- NAVBAR --> */


/* <!-- CATEGORIES --> */

.categories {
    margin: 60px 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.categories>h2 {
    flex: 0 0 100%;
}
.cat-item {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.cat-item-svg {
    font-size: 5em;
}

.cat-item-svg>.cus-svg {
    padding: 2px 10px;
    margin: 2px 10px;
    border: 3px solid var(--second-color);
    border-radius: 10px;
    color: var(--second-color);
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: -0.125em;
}


/* <!-- CATEGORIES --> */


/* <!-- WHO US --> */

.who-us {
    margin: 40px 120px;
}


/* <!-- WHO US --> */


/* <!-- STORES --> */

.stores {
    margin: 60px 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.stores>h2 {
    flex: 0 0 100%;
}

.store-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1em;
}

.store-item>img {
    border: 3px solid var(--second-color);
    border-radius: 10px;
    color: var(--second-color);
    width: 15em;
    display: inline-block;
    vertical-align: -0.125em;
}


/* <!-- STORES --> */


/*Footer*/

.footer-container {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background: #3E1000;
    color: #fff;
    text-align: center;
    font-size: 12px;
}

.footer-container a {
    text-decoration: none;
    font-size: 13px;
    line-height: 20px;
    color: #fff;
    text-align: justify;
}