

/* <!-- CATEGORIES --> */

.categories {
    margin: 60px 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.categories>h2 {
    flex: 0 0 100%;
}
.cat-item {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.cat-item-svg {
    font-size: 5em;
}

.cat-item-svg>.cus-svg {
    padding: 2px 10px;
    margin: 2px 10px;
    border: 3px solid var(--second-color);
    border-radius: 10px;
    color: var(--second-color);
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: -0.125em;
}


/* <!-- CATEGORIES --> */


/* <!-- WHO US --> */

.who-us {
    margin: 40px 120px;
}


/* <!-- WHO US --> */


/* <!-- STORES --> */

.stores {
    margin: 60px 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.stores>h2 {
    flex: 0 0 100%;
}

.store-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1em;
}

.store-item>img {
    border: 3px solid var(--second-color);
    border-radius: 10px;
    color: var(--second-color);
    width: 15em;
    display: inline-block;
    vertical-align: -0.125em;
}


/* <!-- STORES --> */