#navbar {
  background-color: #3E1000;
}

.navbar {
    background-color: #3E1000;
    min-height: 30px;
    margin-bottom: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .navbar-logo > a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 5px 30px;
    text-decoration: none;
    font-size: 2.9em;
  }

  .navbar-logo img{
    height: 45px;
}