:root {
  --first-color: #3e1000;
  --second-color: #5a1a05;
  --third-color: #653719;
  --fourth-color: #ceb035;
  --fiveth-color: #45230c;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.gestion-label-text {
  font-size: 16px;
  font-weight: 500;
  color: #3e1000;
}

.titles-gestion {
  color: #3e1000;
  font-size: 25px;
}

.text-modal-gestion {
  color: white;
}

.gestion-container-modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-size: 100vw;
}

.container-form-gestion {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 600px;
  width: 100%;
  margin-top: 20px;
}

.gestion-container-form {
  width: 350px;
  height: 550px;
  background-color: var(--fourth-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px;
  margin-bottom: 20px;
  padding: 50px;
  flex-direction: column;
}

.gestion-input-container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  text-align: left;
  flex-direction: column;
}

.gestion-button {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}

.gestion-button-form {
  background-color: var(--first-color);
  color: white;
  border-radius: 80px;
  cursor: pointer;
  border: none;
  outline: none;
  width: 150px;
  height: 40px;
  margin-right: 10px;
}

.gestion-style {
  height: 30px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-top: 5px;
  background-color: transparent;
  border-bottom: 1px solid wheat;
  color: white;
}

.gestion-style::placeholder {
  color: white;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-container {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #3e1000;
  color: #fff;
  text-align: center;
  font-size: 12px;
}

.footer-container a {
  text-decoration: none;
  font-size: 13px;
  line-height: 20px;
  color: #fff;
  text-align: justify;
}

.logo-container-gvendedores {
  width: 100%;
  margin-top: -80px;
  display: flex;
  justify-content: center;
}

.option-gestionvendedores {
  color: #3e1000;
  font-size: 15px;
}

select {
  font-size: 15px;
}
