
  * {
    font-family: "Helvetica", sans-serif;
  }
  .modal-back {
    background-color: rgba(0, 0, 0, 0.404);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* right: 0; */
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
  }
  
  .modal__dialog {
    height: auto;
    border-radius: 12px;
    background-color:#fff ;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 410px;
  }
  
  .modal-open {
    display: grid;
  }
  .modal-title {
    font-size: 20px;
    font-weight: 100;
  }
 
  
  .titleCloseBtn {
    float: right;
    width: 20px;
  }
  
  
  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .titleCloseBtn button:hover {
    background-color: none;
  }
  