*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --first-color: #3E1000;
    --second-color: #5A1A05;
    --third-color: #653719;
    --fourth-color: #CEB035;
    --fiveth-color: #45230C;
  }

.update-box{
    display: flex;
    border: 1px solid #000;
    width: 30%;
    flex-direction: column;
    margin: 30px;
}

.update-label{
    background-color: var(--second-color);
    padding: 10px;
    color: #fff;
}

.p-update{
    display: inline-block;
    margin:0;
}

.update-row{
    display: flex;
    justify-content:space-between;
    padding:10px;
}

.select{
    display: inline-block;
    padding: 7px;
    border: 2px solid var(--fourth-color);
    border-radius:10%;
    transition: all .35s ease;
}

.btn{
    display: flex;
    text-transform: uppercase;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: all .35s ease;
    background-color: var(--fourth-color);
    margin: auto;
}

.btn:hover{
    background-color: #ECC939

}

.btn:focus{
    background-color: #fff;
    border: #CEB035 solid 5px;
}

.btn-update{
    padding: 10px;
    margin:10px auto;
}



