:root {
  --first-color: #3e1000;
  --second-color: #5a1a05;
  --third-color: #653719;
  --fourth-color: #ceb035;
  --fiveth-color: #45230c;
}



body {
  margin: 0;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.gestion-label-text {
  font-size: 16px;
  font-weight: 500;
  color: #3e1000;
}

.titles-gestion {
  color: #3e1000;
  font-size: 25px;
}

.gestion-container {
  background-color: white;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
  display: flex;
  
}

.container-form-gestion {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 600px;
  margin-top: 20px;
}

.gestion-container-form {
  width: 550px;
  height: 550px;
  background-color: var(--fourth-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px;
  margin-bottom: 20px;
  padding: 50px;
  flex-direction: column;
}

.gestion-input-container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  text-align: left;
  flex-direction: column;
}

.gestion-button {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}

.gestion-button-form {
  background-color: var(--first-color);
  color: white;
  border-radius: 80px;
  cursor: pointer;
  border: none;
  outline: none;
  width: 150px;
  height: 40px;
  margin-right: 10px;
}

.gestion-style {
  height: 30px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-top: 5px;
  background-color: transparent;
  border-bottom: 1px solid wheat;
  color: white;
}

.gestion-style::placeholder {
  color: white;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}



.logo-container-gvendedores {
  width: 100%;
  margin-top: -80px;
  display: flex;
  justify-content: center;
}

.option-gestionvendedores {
  color: #3e1000;
  font-size: 15px;
}

select {
  font-size: 15px;
}
