:root {
  --first-color: #3e1000;
  --second-color: #5a1a05;
  --third-color: #653719;
  --fourth-color: #ceb035;
  --fiveth-color: #45230c;
}

body {
  margin: 0%;
  background-color: rgba(194, 251, 253, 0.35);
}

#upper-tittle-inventario {
  width: 100%;
  height: 40px;
  background-color: #5a1a05;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor-inventario-body {
  width: 100%;
  margin-top: 20px;
  display: flex;
}

.container-input-inventario {
  width: 400px;
  height: 650px;
  background-color: #ceb035;

  padding: 10px;
}

.gestion-input-container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  text-align: left;
  flex-direction: column;
  margin-top: 10px;
}
.gestion-label-text {
  font-size: 16px;
  font-weight: 500;
  color: #3e1000;
}
.container-inventario {
  display: flex;
  width: 40%;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.gestion-style {
  height: 30px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-top: 5px;
  width: 90%;
  background-color: transparent;
  border-bottom: 1px solid wheat;
  color: white;
}

.gestion-style::placeholder {
  color: white;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.container-form-gestion {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 500px;
  margin: 20px;
}

.gestion-button {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}

.gestion-button-form {
  background-color: var(--first-color);
  color: white;
  border-radius: 80px;
  cursor: pointer;
  border: none;
  outline: none;
  width: 150px;
  height: 40px;
  margin-right: 10px;
  font-size: 13px;
}

.container-input-inventario2 {
  width: 400px;
  height: 330px;
  background-color: #ceb035;

  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container-form-gestion2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 290px;
  margin: 20px;
}

.footer-container {
  width: 100%;
  left: 0;
  bottom: 0;
  background: #3e1000;
  color: #fff;
  text-align: center;
  font-size: 12px;
}

.footer-container a {
  text-decoration: none;
  font-size: 13px;
  line-height: 20px;
  color: #fff;
  text-align: justify;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.table-inventario {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

#button-back-inventario {
  position: fixed;
  bottom: 35px;
  right: 0;
}

/*Header inventario*/

header {
  background-color: var(--second-color);
  color: #3e1000;
  padding: 1rem;
}

.btn {
  display: flex;
  text-transform: uppercase;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: all 0.35s ease;
  background-color: var(--fourth-color);
  margin: auto;
  position: relative;
  top: -68px;
  left: 40%;
}

.btn:hover {
  background-color: #ecc939;
}

.btn:focus {
  background-color: #fff;
  border: #ceb035 solid 5px;
}

.btn-icon {
  margin: auto;
  width: 3rem;
}

.btn-text {
  font-size: 0.8125rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding: 0.2rem 1.5rem;
}

.container-header {
  display: flex;
  flex-direction: row;
  width: 970px;
  margin: auto;
}

header {
  width: 100%;
  background-color: #3e1000;
  height: 110px;
  padding: 20px;
  z-index: 300;
}

.logo img {
  height: 65px;
}

.modal {
  /*display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: transparent;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 30%; /* Could be more or less, depending on screen size */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* The Close Button */
.close {
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
