* {
  box-sizing: border-box;
}

:root {
  --first-color: #3e1000;
  --second-color: #5a1a05;
  --third-color: #653719;
  --fourth-color: #ceb035;
  --fiveth-color: #45230c;
  --font-color: #eef4ed;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}